<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADkKR4B_LvJTybFEFuvOk7aFrQ-4GoqmE</string>
	<key>GCM_SENDER_ID</key>
	<string>628641625346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codejet.blocecommerce.blocEcommerce</string>
	<key>PROJECT_ID</key>
	<string>bloc-ecommerce-codejet</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-ecommerce-codejet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628641625346:ios:598a6f187bd583d3a07e1b</string>
</dict>
</plist>